@media screen and (min-width: 1023px) {
  .s3d__favourites {
    &:hover{
      svg{
        transform: scale(1.2);
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .s3d-fv{
    &__left {
      width: 360px;
    }

  }
}

@media screen and (max-width: 992px) {
  .s3d-fv{
    &__left {
      display: none;
    }
  }
}

