.s3d-popup-flyby{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 70px 35px 75px 0;
  width: 235px;
  &__wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    &.s3d-active{
      opacity: 1;
      visibility: visible;
      pointer-events: painted;
    }
  }
  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    z-index: 2;
    transform: translate(0, 0);
    transform-origin: center;
    transition: transform 0.4s cubic-bezier(.14,1.12,.43,.55);
    pointer-events: painted;
    cursor: pointer;
    &:after, &:before {
      content: "";
      position: absolute;
      display: inline-block;
      transform-origin: center;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background: $color2;
    }
    &:after {
      transform: translate(-50%, -50%)rotate(45deg);
    }
    &:before {
      transform: translate(-50%, -50%)rotate(-45deg);
    }
    &:hover {
      transform: rotate(90deg);
    }
  }
  &__title {
    font-family: $default-font;
    font-weight: 500;
    font-size: 30px;
    line-height: 1em;
    letter-spacing: -0.05em;
    color: #EEEEEE;
  }
  &__line {
    display: inline-block;
    height: 2px;
    width: 20px;
    margin: 10px 0 0;
    background: $color2;
  }
  &__text {
    @include s3d-text-table();
    //font-family: $default-font;
    //font-weight: 500;
    //font-size: 12px;
    //line-height: 1.8em;
    //color: #E1DDD2;
    margin: 10px 0 0;
  }
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    font-family: $default-font;
    font-weight: 500;
    font-size: 20px;
    line-height: 1em;
    letter-spacing: -0.05em;
    color: $wc;
    margin: 30px 0 0 0;
    padding: 0 40px 0 0;
    pointer-events: painted;
    cursor: pointer;
    &:hover {
      svg {
        transform: rotate(180deg)translateX(0);
      }
    }
  }
  &__arrow{
    position: absolute;
    top: 50%;
    right: 0;
    overflow: hidden;
    margin: 0 0 0 10px;
    transform: translateY(-50%);
    svg {
      transition: transform 0.3s ease-in-out;
      transform: translateX(-20px)rotate(180deg);
    }
  }
  &__lines {
    &-top {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      z-index: -1;
      pointer-events: none;
      svg {
        fill: transparent;
        width: 100%;
        height: 31px;
      }
    }
    &-right {
      position: absolute;
      top: 0;
      right: 0;
      height: calc( 100% - 27px);
      z-index: -1;
      pointer-events: none;
      svg {
        fill: transparent;
        height: 100%;
      }
    }
    &-bottom {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      z-index: -1;
      pointer-events: none;
      svg {
        fill: transparent;
        width: 100%;
        height: 26px;
      }
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;
    z-index: -1;
    &-all {
      height: 100%;
      flex: 1 1 100%;
      background: rgba(0, 114, 117, 0.9);
      color: #007275;
    }

    &-active {
      height: 200%;
      flex: 0 0 auto;
      opacity: 0.8;
      background: linear-gradient(0, rgba(0,114,117,1) 0%, rgba(0,114,117,1) calc(50% - 100px), rgba(255,255,255,1) calc(50% - 1px), rgba(255,255,255,1) calc(50% + 1px), rgba(0,114,117,1) calc(50% + 100px), rgba(0,114,117,1) 100%);
    }

  }
  &__active {
    position: fixed;
    z-index: 9999;
    * {
      background: transparent!important;
    }
  }
}
