@keyframes arrow_animation {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -25px);
  }
}

@keyframes callAnimate {
  from{
    transform: translate(-50%, -50%)scale(1);
  }
}

@keyframes s3dAnimateArrowHor {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-12%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes logo {
  from{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  to{
    transform: scale(1);
  }
}

@keyframes s3dAnimateArrowHelper {
  from {
    transform: translate(calc(-100% + 18px));
  //  transform: translateX(-70%);
  }
  50% {
    transform: translateX(0);
  }
  to {
    transform: translate(calc(-100% + 18px));
  //  transform: translateX(-70%);
  }
}
