.s3d {
  &__button {
    z-index: 100;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    background: transparent;
    text-decoration: none;
    padding: 8px;
    transform: translateY(-50%);
    -webkit-appearance: none;
    cursor: pointer;
    * {
      pointer-events: none;
    }
    // &:focus {
    //   background: radial-gradient(closest-side at 50%, $color1, $color1 calc(100% - 2px), rgba(92, 136, 218, 1));
    //   //border: 1px solid rgba(255, 255, 255, 0.5);
    //   outline-width: 0;
    //   outline-color: rgba(255, 255, 255, 0);
    // }
    svg {
      display: flex;
      height: 65px;
      width: 80px;
      fill: $wc;
      flex: 1 1 100%;
      transition: fill .3s ease-in;
    }
    &-left {
      left: 72px;
    }

    &-right {
      right: 72px;
    }
  }
  &__slider{
    &__bg{
      position: fixed;
      left: 0;
      right: 0;
      pointer-events: none;
      width: 100%;
      z-index: 155;
      &-top{
        top: 0;
        height: var(--s3d-header-height);
        background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
        //background: rgba(255, 255, 255, 0.9);
      }
      &-bottom{
        bottom: 0;
        height: 15vh;
        //background: rgba(255, 255, 255, 0.9);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      }
    }
  }
  &-infoBox.s3d-card{
    position: fixed;
    top: 50%;
    left: 100%;
    grid-area: info-flat;
    display: flex;
    width: 250px;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //grid-column: 7;
    //grid-row: 1 / 7;
    margin: auto 0 auto auto;
    //background: $wc;
    overflow: hidden;
    transform: translate(-100%, -50%);
    z-index: 999;
    transition: transform 0.4s ease-in 0.3s;

    // default change from js
    pointer-events: none;
    visibility: hidden;

    &__hover{
      display: flex;
      height: 52px;
      width: 100%;
      order: 2;
      z-index: 6;
      span{
        margin: 0 6px;
      }
    }

    .s3d-card {
      //&__top, &__middle, &__bottom {
      //  border-color: #CFBE97;
      //}
      &__close, &__type, &__add-favourites {
        pointer-events: none;
        opacity: 0;
      }
      &__buttons {
        pointer-events: none;
        height: 0;
        opacity: 0;
      }
    }
    &.s3d-infoBox__moving {
      transform: translate(0, 0)!important;
    }
    &.s3d-infoBox-hover {
      visibility: visible;
      pointer-events: painted;
      //transform: translateX(0);
      transition: transform 0.4s ease-in;
    }
    &.s3d-infoBox-active {
      visibility: visible;
      pointer-events: painted;
      //transform: translateX(0);
      transition: transform 0.4s ease-in;
      .s3d-card {
        &__close {
          pointer-events: painted;
          opacity: 1;
        }
        &__type {
          pointer-events: painted;
          opacity: 1;
        }
        &__add-favourites {
          pointer-events: painted;
          opacity: 1;
        }
        &__buttons {
          pointer-events: painted;
          height: initial;
          opacity: 1;
        }
        &__link svg path {
          animation: s3dAnimateArrowHelper 2.2s ease infinite;
        }
      }
    }

  }
}

.s3d-mobile {
  .s3d-infoBox.s3d-card {
    top: 50%;
    left: 50%;
    width: 302px;
    transform: translate(-50%, -50%);
    background: $wc;
    pointer-events: painted;
    display: flex;
    flex-direction: column;
    .s3d-card {
      &__top {
        position: static;
        padding: 30px 20px 20px;
      }
      &__bottom {
        display: flex;
        flex-direction: column;
        padding: 0 30px 30px;
      }
      &__buttons {
        height: inherit;
        opacity: 1;
        pointer-events: inherit;
        margin: auto 0 0 0;
      }
      &__close {
        opacity: 1;
        pointer-events: inherit;
        top: 7.5px;
        right: 7.5px;
        &:after, &:before {
          background: $wc;
        }
      }
      &__link {
        //visibility: visible;
        margin: 0;
        color: $wc;
        svg {
          stroke: $wc;
        }
      }
      &__name {
        color: $textGrey;
        vertical-align: bottom;
      }
      &__value {
        color: $textGrey;
        vertical-align: bottom;
      }
      &__add-favourites {
        top: 7.5px;
        right: 37.5px;
        left: auto;
        opacity: 1;
        background: none;
        pointer-events: inherit;
        svg {
          stroke: $wc;
        }
      }
    }
  }

}
