.s3d {
  &-ctr {
    display: grid;
    z-index: 120;
    position: absolute;
    top: 0;
    left: 0;
    grid-gap: 20px 30px;
    padding: var(--s3d-header-margin) 0 50px;
    width: 100%;
    height: 100%;
    background: transparent;
    grid-template-rows: var(--s3d-header-height) 17px auto auto 1fr auto auto;
    grid-template-columns: 190px 150px 75px 1fr 1fr 1fr 1fr;
    pointer-events: none;
    grid-template-areas: '. . . back . . .'
                '. . . . . . .'
                'filter filter . . . . favourite'
                '. . . . . . .'
                '. . . . . . .'
                'buttons . . . . . compass'
                'buttons title title title . . compass';

    &__elem {
      position: relative;
      grid-area: buttons;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      padding: 30px 30px 0 0;
      align-items: flex-start;
      pointer-events: painted;

      // default change from js
      visibility: hidden;
      &__title {
        margin: 0 auto 10px 20px;
        font-family: $default-font;
        font-weight: 500;
        font-size: 24px;
        line-height: 1em;
        letter-spacing: -0.05em;
        color: $wc;
        text-transform: uppercase;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: calc(100% + 40px);
        width: 100%;
        z-index: -1;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
      }

      &:active, &:focus {
        border: none;
      }
    }
    &__compass {
      grid-area: compass;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      fill: transparent;
      border-radius: 50%;
      //padding: 10px;
      margin: auto 50px 0 auto;
      // default change from js
      visibility: hidden;
      background: #ffffff;
      svg {
        transform-origin: center;
      }
    }

    &__title {
      grid-area: title;
      margin: auto auto 0 0;
      @extend .s3d-title;
      white-space: nowrap;
      // default change from js
      visibility: hidden;
    }

    &__select {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      width: 100%;
      margin: 0 0 2px 0;
      padding: 8px 20px;
      border: none;
      background: $wc;
      @include s3d-text-m(#555568, 1.2em);
      transition: all .4s linear;
      text-align: left;
      cursor: pointer;
      &.active {
        font-weight: 500;
        //width: 100%;
        cursor: no-drop;
        color: $wc;
        background: $color1;
      }

      &:disabled {
        color: #999999;
        background: rgba(114, 114, 114, 0.5);
        cursor: no-drop;
      }
    }

    &__option {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      //flex-direction: column;
      &__title {
        white-space: nowrap;
      }
      &__text {
        text-transform: lowercase;
      }
      &__buttons {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(100%, 0);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        padding: 0 0 0 2px;
        transition: opacity 0.01s ease-in-out;
        //transition: opacity 0.4s ease-in-out;
        .active {
          display: none;
        }
        .s3d-ctr__select {
          width: 100%;
          white-space: nowrap;
          text-transform: capitalize;
        }
      }
      &:after {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
        content: "";
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 4px solid #555568;
        border-right: 4px solid transparent;
        transform-origin: 25% 25%;
        transition: transform 0.4s ease-in-out;
      }

      &:focus, &:active {
        background: #5C88DA;
        color: rgba(255,255,255,1);
        //width: calc(100% - 10px);
        .s3d-ctr__option__buttons {
          opacity: 1;
          visibility: visible;
          pointer-events: painted;
        }
        &:after {
          transform: translate(0, -75%)rotate(180deg);
        }
      }
    }

    &__open {
      grid-area: opens;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      align-content: flex-end;
      margin: 0 50px 0 auto;
      &-filter {
        grid-area: filter;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        height: 60px;
        width: auto;
        flex: 0 1 auto;
        margin: 0 auto 0 50px;
        padding: 0;
        position: relative;
        border: none;
        background: transparent;
        cursor: pointer;
        text-decoration: none;
        overflow: hidden;
        z-index: 1;

        pointer-events: painted;
        // default change from js
        visibility: hidden;
        &__icon{
          display: flex;
          height: 100%;
          width: 60px;

          justify-content: center;
          align-items: center;
          flex: 0 0 auto;
          background-color: $color1;
          circle {
            fill: $color1;
          }
        }
        &__text{
          width: 100%;
          height: 100%;
          padding: 0 48px 0 25px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          flex-wrap: wrap;
          background-color: #fff;

          @include s3d-text-m($colorTextM, 1.3em);
        }
      }

      &-helper {
        height: 20px;
        display: flex;
        align-items: center;
        align-content: center;
        margin: auto 30px 0 auto;
        cursor: pointer;
        pointer-events: painted;
        transition: color 0.3s ease-in;
        visibility: hidden;
        &--text {
          @include s3d-text-m();
        }
        &--icon{
          width: 9px;
          height: 14px;
        }
        &--line{
          display: inline-block;
          width: 1px;
          height: 10px;
          background: $color2;
          margin: 0 10px;
        }
      }

      &-infra {
        grid-area: infrastructute;
        display: flex;
        align-items: center;
        margin: auto 0 0 0;
        visibility: hidden;
        &--input {
          display: none;
          &:checked ~ div > span {
              transform: translateX(100%);
          }
        }
        &--label{
          display: flex;
          align-items: center;
        }

        &--change {
          display: inline-block;
          width: 36px;
          height: 20px;
          margin: 0 0 0 10px;
          border-radius: 20px;
          overflow: hidden;
          background: $wc;
          padding: 2px;
          cursor: pointer;
          pointer-events: painted;
        }
        &--circle {
          display: block;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background: $color2;
          transition: transform 0.2s ease-in;
        }
        &--text{
          @include s3d-text-m();
          cursor: pointer;
          transition: color 0.3s ease-in;
          pointer-events: painted;
        }
      }
    }

    &__return {
      grid-area: back;
      display: flex;
      align-items: center;
      visibility: hidden;
    }

    &__toHome {
      cursor: pointer;
      pointer-events: painted;
      z-index: 5;
      svg {
        width: 13px;
        height: 14px;
        fill: $color1;
        transition: fill 0.4s ease-in-out;
      }
    }

    &__back {
      margin: 0 0 0 10px;
      display: flex;
      align-items: center;
      align-content: center;
      @include s3d-text-m();
      cursor: pointer;
      pointer-events: painted;
      z-index: 5;
      svg {
        stroke: #555568;
        margin: 0 10px 0 0;
      }
      path {
        transform: translateX(30%);
        transition: transform 0.4s ease-in-out;
      }

    }

    &__favourites {
      position: relative;
      grid-area: favourite;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include s3d-text-m();
      margin: 0 50px 0 auto;
      cursor: pointer;
      transition: color 0.3s ease-in;
      pointer-events: painted;
      visibility: hidden;
      &-bg{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        height: 150px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 50%) 0%, rgba(255, 255, 255, 0) 100%);
        transform: translate(-50%, -50%);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: visibility 0.1s linear 2s, opacity 2s linear;
        z-index: -1;
        &.s3d-show{
          visibility: visible;
          opacity: 1;
          transition: visibility 0.1s linear 0s, opacity 2s linear;
        }
      }
      &-icon{
        position: relative;
        width: initial;
        height: 16px;
        margin-left: 10px;
      }
      //&--text {
      //  &:after {
      //    content: '';
      //    margin: 0 10px;
      //    border-left: 1px solid $colorTextM;
      //    border-right: 1px solid $colorTextM;
      //  }
      //}
      &-amount{
        pointer-events: none;
        &:before{
          content: "";
          display: inline-block;
          height: 10px;
          width: 1px;
          margin: 0 10px;
          background: $colorTextM;
        }
      }
      svg{
        height: 16px;
        width: 18px;
        fill: $color1;
        transition: transform 0.4s ease-in-out;
      }
    }
    &[data-type="flat"], &[data-type="favourites"], &[data-type="plannings"] {
      .s3d-ctr__favourites-bg {
        visibility: hidden!important;
      }
    }
  }
}
