.s3d {
  &-card{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    transition: box-shadow .4s ease-out;
    //box-shadow: 0 10px 30px rgba(170, 182, 204, 0.25);
    background: $wc;
    z-index: 999;
    &__top {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex: 1 1 auto;
      padding: 30px 20px 20px;
      background: $wc;
    }
    &__bottom {
      width: 100%;
      padding: 20px 30px 30px;
    }
    &__icon{
      display: flex;
      width: 52px;
      height: 52px;
      flex: 0 0 52px;
      justify-content: center;
      align-items: center;

      background: $color1;
      svg {
        width: 18px;
        height: 16px;
        fill: #FFFFFF;
      }
    }
    &__close{
      position: absolute;
      top: 0;
      right: 0;
      height: 36px;
      width: 36px;
      cursor: pointer;
      z-index: 5;
      opacity: 0;
      pointer-events: none;
      transition: all 0.4s ease-in-out;
      &:after{
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 60%;
        height: 1px;
        background: $colorTextM;
        transform: translate(-50%,-50%)rotate(45deg);
      }
      &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 60%;
        height: 1px;
        background: $colorTextM;
        transform: translate(-50%,-50%)rotate(-45deg);
      }

    }
    &__image {
      position: relative;
      display: flex;
      justify-content: center;
      height: 180px;
      max-width: 100%;
      margin: 0;
      order: 1;
      z-index: 2;
      transition: opacity 0.4s cubic-bezier(.41,.57,.26,1);
      img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        transition: transform 0.4s cubic-bezier(.41,.57,.26,1);
      }
      span{
        margin-left: 7px;
      }
    }
    &__type{
      position: relative;
      min-width: 36px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $mc3;
      font-size: 18px;
      font-family: $default-font;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 20px;
      z-index: 5;
      transition: all 0.4s ease-in-out;
      > span:first-child {
        margin-right: 5px;
      }
    }
    &__table{
      display: flex;
      width: 100%;
      overflow: hidden;
      z-index: 3;
      box-sizing: content-box;
      table{
        width: 100%;
        margin: 0;
      }
      tbody {
        width: 100%;
      }

      tr {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      td{
        font-family: $default-font;
        font-size: 16px;
        font-weight: 400;
        color: $textGrey;
        text-align: left;
      }
    }
    &__name {
      padding-right: 15px;
    }
    &__value {
      padding-left: 15px;
    }
    &__line {
      border-bottom: 1px solid rgba(24, 24, 24, 0.25);
      width: 50%;

    }
    &__cost {
      font-family: $default-font;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 130%;
      color: #79B43E;
      margin-top: 20px;
    }
    &__buttons{
      position: relative;
      display: flex;
      overflow: hidden;
      padding: 0;
      margin-top: 20px;
      z-index: 7;
      order: 3;
      transition: all 0.4s ease-in;
    }
    &__add-favourites {
      border: 1px solid rgba(24, 24, 24, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      background-color: transparent;
      border-radius: 50%;
      margin-right: 22px;
      input{
        display: none;
      }
      input:checked + svg{
        fill: $mc2;
        stroke: transparent;
      }
      svg {
        stroke: $mc3;
      }

    }
    &__link{
      position: relative;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      border: none;
      font-family: $default-font;
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      text-transform: uppercase;
      text-decoration: none;
      color: $mc3;
      background: transparent;
      cursor: pointer;
      overflow: hidden;
      pointer-events: painted;
      z-index: 1;
      &:focus, &:active {
        outline: none;
      }
      span {
        flex: 0 0 auto;
      }
      svg {
        max-width: 100%;
        overflow: hidden;
        fill: $mc3;
        path {
          transition: transform 0.3s cubic-bezier(.24,1,.78,.01);
          //transition: transform 0.4s ease-in-out;
          transform: translate(0);
          //transform: translate(calc(-100% + 18px));
        }
      }
      &-arrow {
        display: flex;
        align-items: center;
        align-content: center;
      }
    }
  }
}
