.s3d {
  &-card{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    transition: box-shadow .4s ease-out;
    //box-shadow: 0 10px 30px rgba(170, 182, 204, 0.25);
    background: #EEEEEE;
    z-index: 999;
    &__top {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex: 1 1 auto;
      padding: 30px 25px;
      background: $wc;
    }
    &__bottom {
      width: 100%;
      padding: 20px 20px 34px 36px;
    }
    &__icon{
      display: flex;
      width: 52px;
      height: 52px;
      flex: 0 0 52px;
      justify-content: center;
      align-items: center;

      background: $color1;
      svg {
        width: 18px;
        height: 16px;
        fill: #FFFFFF;
      }
    }
    &__close{
      position: absolute;
      top: 0;
      right: 0;
      height: 36px;
      width: 36px;
      cursor: pointer;
      z-index: 5;
      opacity: 0;
      pointer-events: none;
      transition: all 0.4s ease-in-out;
      &:after{
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 60%;
        height: 1px;
        background: $colorTextM;
        transform: translate(-50%,-50%)rotate(45deg);
      }
      &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 60%;
        height: 1px;
        background: $colorTextM;
        transform: translate(-50%,-50%)rotate(-45deg);
      }

    }
    &__image {
      position: relative;
      display: flex;
      justify-content: center;
      height: 170px;
      max-width: 100%;
      margin: 0;
      order: 1;
      z-index: 2;
      transition: opacity 0.4s cubic-bezier(.41,.57,.26,1);
      img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        transition: transform 0.4s cubic-bezier(.41,.57,.26,1);
      }
      span{
        margin-left: 7px;
      }
    }
    &__type{
      position: absolute;
      bottom: 0;
      left: 0;
      height: 36px;
      min-width: 36px;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      background: $color2;
      @include s3d-text-s(#392425);
      text-align: center;
      z-index: 5;
      transition: all 0.4s ease-in-out;
    }
    &__table{
      display: flex;
      width: 100%;
      overflow: hidden;
      order: 2;
      z-index: 3;
      box-sizing: content-box;
      table{
        width: 100%;
        margin: 0;
      }

      td{
        padding: 0;
        @include s3d-text-table();
        text-align: left;
      }

      td:nth-child(odd){
        width: 100%;
        padding: 0 30px 0 0;
      }
    }
    &__buttons{
      position: relative;
      display: flex;
      overflow: hidden;
      padding: 0;
      z-index: 7;
      order: 3;
      transition: all 0.4s ease-in;
    }
    &__link{
      position: relative;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 15px 0 0 0;
      padding: 0;

      border: none;
      font-family: $default-font;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      text-transform: uppercase;
      text-decoration: none;
      color: $colorTextM;
      background: transparent;
      cursor: pointer;
      overflow: hidden;
      pointer-events: painted;
      z-index: 1;
      &:focus, &:active {
        outline: none;
      }
      span {
        flex: 0 0 auto;
      }
      svg {
        max-width: 100%;
        overflow: hidden;
        stroke: #555568;
        path {
          transition: transform 0.3s cubic-bezier(.24,1,.78,.01);
          //transition: transform 0.4s ease-in-out;
          transform: translate(0);
          //transform: translate(calc(-100% + 18px));
        }
      }
      &-arrow {
        display: flex;
        align-items: center;
        align-content: center;
      }
    }
    &__add-favourites{
      position: absolute;
      top: 1px;
      left: 1px;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: 36px;
      width: 36px;
      background: $color2;
      border: none;
      cursor: pointer;
      z-index: 3;
      transition: all 0.4s ease-in-out;
      input{
        display: none;
      }
      input:checked + svg{
        fill: $color1;
        stroke: transparent;
      }
      svg{
        height: 45%;
        width: 45%;
        fill: transparent;
        stroke: #555568;
        stroke-width: 2px;
        pointer-events: none;
        transition: stroke .3s ease-out, fill .3s ease-out;
      }
    }
  }
}
