.s3d {

  &-floor__helper {
    z-index: 210;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 230px;
    color: #140101;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 30px 50px rgba(59, 68, 86, .15);
    flex-direction: column;
    font-weight: 600;
    opacity: 0;
    padding: 20px 30px;
    pointer-events: none;
    transform: translate(-150%, -50%);
    transition: opacity .2s ease;

    &-logo {
      position: relative;
      display: flex;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-bottom: 10px;
      align-items: center;
      transform: translate(0, calc(-50% - 20px));

      &:after {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: #ff1e3c;
        content: "";
        transform: rotate(45deg);
        transform-origin: center;
      }

      img {
        height: 14px;
      }
    }

    &-img {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      align-items: center;
    }

    &-area,
    &-flat,
    &-type,
    &-place {
      display: flex;
      justify-content: center;
      width: 100%;
      color: #140101;
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;

      span {
        margin-left: 5px;
      }
    }

    &-close {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      width: 38px;
      height: 38px;
      padding: 10px;
    }

    &-button {
      display: none;
      justify-content: center;
      width: 100%;
      height: 26px;
      color: $wc;
      align-items: center;
      margin-top: 10px;
    }
  }

  &-mobile {

    .s3d-floor__helper {
      z-index: 555;
      position: fixed !important;
      top: 50% !important;
      left: 50% !important;
      opacity: 0;
      pointer-events: auto;
      transform: translate(-50%, calc(-50% + 40px));
      visibility: hidden;

      &-close {
        display: block;
      }

      &-button {
        display: flex;
      }

      &-bg {
        display: block;
      }
    }
  }
}

.plan-floor-appartment {
  cursor: pointer;

  &[ data-rooms = "1К" ] polygon {
    fill: var(--one-room-color);
    opacity: .3;
  }

  &[ data-rooms = "2К" ] polygon {
    fill: var(--two-room-color);
    opacity: .3;
  }

  &[ data-rooms = "3К" ] polygon {
    fill: var(--three-room-color);
    opacity: .3;
  }

  .flat-link-path:hover,
  & polygon:hover {
    opacity: .8;
  }
}

@media screen and ( max-width : 1640px ) {

  .s3d {

    &-floor {

      &__helper {
        padding: 0 15px 20px;

        &-logo {
          transform: translate(0, -50%);
        }

        &-area,
        &-flat,
        &-type,
        &-place {
          font-size: 10px;
          font-weight: 600;
          line-height: 16px;
        }
      }
    }
  }
}

@media screen and ( max-width : 1023px ) {

  .s3d {

    &-floor__helper {
      transform: translate(-50%, -100%);
    }
  }
}
@media screen and ( max-width : 767px ) {

  .s3d {

    &-floor__helper {
      transition: opacity .3s ease-in .2s;

      &-img img {
        max-height: 40vh;
      }

    }
  }
}
