.s3d-fv , .s3d-pl{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas: 'left . content';
  grid-template-columns: 400px 106px auto;
  grid-template-rows: 100%;
  background: linear-gradient(180deg, #152222 0%, #017275 100%);
  padding-top: var(--s3d-margin-top);
  padding-right: 50px;
  &__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 27px;
    width: 100%;
    max-height: calc(100% - 100px);
    padding: 0;
    overflow-y: auto;
    margin-top: 20px;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    /*Track*/
    &::-webkit-scrollbar-track {
      background: #DDD9D3;
    }

    /*Handle*/
    &::-webkit-scrollbar-thumb {
      background: $color1;
    }

    &::-webkit-scrollbar-thumb:window-inactive {
      background: #DDD9D3;
    }
    .s3d-card {
      cursor: pointer;
    }
  }
  &__plane{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    transition: box-shadow .5s ease-out;
  }
  &__right{
    grid-area: content;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  &__title{
    width: 100%;
    @extend .s3d-title;
  }
  &__amount-flat{
    display: flex;
    align-items: center;
    @include s3d-text-m();
    text-transform: lowercase;
    margin: 15px auto 0 0;

    &__num {
      margin: 0 3px;
    }
  }
  &__favourites{
    display: flex;
    align-items: center;
    @include s3d-text-m();
    margin: 0 0 5px auto;
    cursor: pointer;
    &-icon{
      position: relative;
      width: initial;
      height: 16px;
      margin-left: 10px;
    }
    &-amount{
      @include s3d-text-m($wc, 1.5em);
      pointer-events: none;
      &:before{
        content: "";
        display: inline-block;
        height: 10px;
        width: 1px;
        margin: 0 10px;
        background: $color2;
      }
    }
    svg{
      height: 16px;
      width: 18px;
      fill: $color2;
      transition: transform 0.4s ease-in-out;
    }
  }
}
