.s3d__helper-gif {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto 0;
  &__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(85, 85, 104, 0.9);
    z-index: 9999;
    visibility: hidden;
    pointer-events: none;
    padding: 0 84px;
    opacity: 0;
    transition: opacity 0.3s ease-in, visibility 0.4s ease-in;
    &.s3d-active {
      opacity: 1;
      visibility: visible;
      pointer-events: painted;
      cursor: default;
    }
  }
  &__title {
    font-family: $default-font;
    font-weight: 400;
    font-size: max(vw(96, 1920), 96px);
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: $wc;
    pointer-events: none;
  }
  &__close {
    //position: absolute;
    //bottom: 70px;
    //left: 50%;
    //transform: translate(-50%, -100%);
    margin: 0 0 70px;
    font-family: $default-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: $wc;
    cursor: pointer;
  }
  &__count {
    font-family: $default-font;
    font-weight: 400;
    font-size: max(vw(64, 1920), 64px);
    line-height: 100%;
    letter-spacing: -0.02em;
    color: $wc;
    margin-right: 30px;
    pointer-events: none;
    span {

    }
  }
  &__group {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    //background: #F65275;
    cursor: pointer;
    animation: s3dAnimateArrowHelperGif 2s cubic-bezier(.32,.87,.42,1) infinite;
    //animation: s3dAnimateArrowHelperGif 2s cubic-bezier(.32,.87,.42,1) infinite, s3dPulse 1s cubic-bezier(.32,.87,.42,1) infinite;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 100%;
      width: 100%;
      background: #F65275;
      border-radius: 50%;
      z-index: -1;
      animation: s3dPulse 1s infinite;
    }
    &-arrow {
      display: inline-block;
      height: 40%;
      width: 40%;
      stroke: $wc;
    }
  }
  &__gif {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max(vw(300, 1920), 300px);
    width: max(vw(300, 1920), 300px);
    margin: 0 0 50px;
    //pointer-events: none;
    object {
      position: absolute;
      top: 0;
      left: 50%;
      display: inline-block;
      height: 100%;
      width: 100%;
      transform: translate(-50%, 0);
      //visibility: hidden;
      opacity: 0;
      //transition: opacity 0.5s ease-in-out;
    }
  }
}
